.image-downloader-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(2 * var(--index));
}

.image-sidebar {
  width: calc(10 * var(--index));
  min-width: calc(7 * var(--index));
  /* max-height: calc(24.5 * var(--index)); */

  border: 2px solid #de7084;
  border-radius: 22px;
  overflow-y: hidden; /* Prevent scrolling on the entire sidebar */
  direction: rtl;
}

.sidebar-account-info {
  width: 100%;
  border: 1px solid #de7084;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.sidebar-account-icon {
  width: calc(1.5 * var(--index));
}

.sidebar-account-balance {
  font-size: 33px;
  margin: 20px 0px;
  padding: 0;
}

.sidebar-images-photo {
  width: calc(5 * var(--index));
  height: calc(5 * var(--index));
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.sidebar-images-add-button {
  background-color: #000000;
  width: calc(5 * var(--index));
  height: calc(10 * var(--index));
  border: 1px solid #4a4a4a;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plus-button {
  width: calc(4 * var(--index));
  height: calc(4 * var(--index));
}

.sidebar-images {
  margin-top: calc(1 * var(--index));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1 * var(--index));
  max-height: calc(20 * var(--index)); /* Limit the height */
  overflow-y: auto; /* Enable scrolling only for the images */
  direction: rtl;
}

.sidebar-images::-webkit-scrollbar {
  margin-left: 10px;
  width: 8px; /* Adjust scrollbar width if needed */
}

.sidebar-images::-webkit-scrollbar-track {
  background-color: transparent; /* Optional: Background color of the scrollbar track */
}

.sidebar-images::-webkit-scrollbar-thumb {
  background-color: #de7084; /* Set the scrollbar color */
  border-radius: 4px; /* Optional: Rounded corners for the scrollbar thumb */
}

.image-conent {
  flex: 1;
}

/* Content Area */
.image-annotator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727; /* Base background color */
  background-image: radial-gradient(circle, #444444 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the size of the dots */
  border-radius: 20px; /* Optional: round corners like in your design */
  width: calc(35 * var(--index)); /* Adjust based on your container size */
  height: calc(27 * var(--index)); /* Adjust based on your container size */
  padding-bottom: 20px; /* Add padding if needed */
  position: relative;
}

.screen-resolution {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: calc(0.5 * var(--index));
}

.screen-resolution-text {
  font-size: 20px;
  font-weight: 30;
}

.drag-drop-container {
  width: calc(20 * var(--index));
  height: calc(12 * var(--index));
  border: 1px dashed #7c7c7c;
  background-color: #242424;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  color: #de7084;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину родителя */
  height: 100%; /* Убедитесь, что контейнер занимает всю высоту родителя */
  position: relative; /* Если необходимо, для позиционирования дочерних элементов */
}

.image-container img {
  max-width: 200px;
  object-fit: fill;
}

.image-button {
  width: 75px;
  height: 75px;
  border-radius: 40px;
  border: none;
  background-color: #190d10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button-active {
  position: relative;
  height: 200px;
  border: 1px solid #de7084;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

.image-downloads-buttons {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: absolute;
  bottom: calc(1 * var(--index));
}

.vertical-slider {
  position: absolute;
  top: 0;
  right: 40%;
  width: 150px; /* Adjust based on preference */
  height: 10px; /* Adjust the initial thickness */
  background: #de7084;
  transform: rotate(-90deg); /* Rotate to make it vertical */
  transform-origin: right bottom;
  border-radius: 5px; /* Add some rounding to the edges */
  accent-color: #de7084;
}

.drop-n-drag-image {
  width: calc(100 * var(--index));
}

@media (max-width: 64em) {
  .image-downloader-section {
    justify-content: flex-start;
    margin-top: calc(5 * var(--index));
  }

  .image-downloader-container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: calc(5 * var(--index));
  }

  .image-sidebar {
    display: flex; /* Ensure flexbox properties apply */
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    justify-content: center;
    height: calc(10 * var(--index));
    width: calc(27 * var(--index));
    min-width: 0;
    /* flex-direction: row; */
    overflow-x: auto;
    overflow-y: hidden;
    /* direction: ltr; */
  }

  .sidebar-images {
    margin-top: 0;
    flex-direction: row-reverse;
    overflow-x: scroll;
    width: 100%;
  }

  .sidebar-images-photo,
  .sidebar-images-add-button {
    min-width: 73px;
    min-height: 73px; /* Use fixed width and height for consistency */
    max-width: 73px;
    max-height: 73px;
    object-fit: cover;
  }

  .sidebar-images::-webkit-scrollbar {
    display: none; /* Не отображать кастомизированный скроллбар */
  }

  .image-annotator-container {
    width: calc(30 * var(--index));
    height: calc(45 * var(--index));
  }

  .drag-drop-container {
    width: calc(15 * var(--index));
  }

  .drag-drop-tits {
    width: calc(5 * var(--index));
  }

  .download-ico {
    width: calc(2.5 * var(--index));
  }

  .image-button {
    width: 50px;
    height: 50px;
  }

  .image-button img {
    width: calc(2 * var(--index));
  }

  .image-button-active {
    height: 170px; /* Уменьшение высоты активной кнопки на мобильных */
  }

  .vertical-slider {
    width: 120px; /* Уменьшение ширины слайдера на мобильных */
  }

  .image {
    width: 30px !important;
  }
}
