form {
  width: 337px;
  height: 507px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form p {
  text-align: center;
}

form input {
  border: 2px solid #de7084;
  border-radius: 16px;
  background-color: #343434;
  width: 336.67px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
}

.form-logo {
  width: 45px;
}

.form-switcher {
  width: 262px;
  height: 50px;
  border: 2px solid #de7084;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
  color: #ffffff;
}

.form-switcher div {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 127px;
  background-color: #de7084;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.form-subtitle {
  margin-top: 30px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 25px;
}

.buttons-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}

.button-back {
  border: 1px solid #de7084;
  border-radius: 10px;
  background: transparent;
  width: 105px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.button-login {
  background: linear-gradient(138.47deg, #de7184 36.89%, #bc5567 94.18%);
  border-radius: 10px;
  border: none;
  width: 105px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.forgot-link {
  margin: 0 auto;
  color: #de7084;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 60px;
}
