/* index.css */

header {
  width: 100vw;
  height: 76px;
  background: #111111;
  border-bottom: 1px solid #5e5e5e;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.header-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
}

.header-box-genders {
  display: flex;
  gap: 2em;
  margin-left: 20px;
}

.header-box-gender {
  position: relative;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.header-box-gender::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: background 0.3s ease;
}

.header-box-gender.active-boy::after {
  background: blue;
}

.header-box-gender.active-girl::after {
  background: pink;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
}

.header-box-menu {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2em;
}

.header-box-menu-item {
  cursor: pointer;
  font-size: calc(0.65 * var(--index));
}

.header-login-button {
  border-radius: 10px;
  background: linear-gradient(#de7184, #bc5567);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 15.88px;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header-hamburger-menu {
  display: none;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.header-hamburger-menu div {
  width: 37px;
  height: 3px;
  background-color: #ffffff;
}

.header-hamburger-menu div:nth-child(2) {
  width: 30px;
  background-color: #de7084;
}

.header-login-button-mobile {
  display: none;
  width: 86px;
  height: 46px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(#de7184, #bc5567);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 15.88px;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
}

.header-close-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.menu-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

@media (max-width: 64em) {
  .header-content {
    width: 90%;
  }

  .header-box-gender {
    display: none;
  }

  nav {
    display: none;
  }

  .header-login-button-mobile {
    display: block;
  }

  .header-hamburger-menu {
    display: flex;
  }

  .header-box.menu-open nav {
    display: flex;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 80vw;
    height: 50vh;
    z-index: 10000;
    background: #111111;
    border: 2px solid #ffffff;
    border-radius: 15px;
    transition: all 0.3s ease;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1em;
    padding-top: 2em;
    padding-right: 2em;
    gap: 1em;
    align-items: flex-start;
    box-shadow: 120px black;
  }

  .header-box.menu-open nav ul {
    flex-direction: column;
    font-size: 360px;
    gap: 20em;
  }

  .header-box.menu-open .header-box-menu {
    display: block;
    gap: 1em;
  }

  .header-box.menu-open .header-login-button {
    display: none;
  }

  .header-close-button {
    display: block;
  }

  .menu-backdrop {
    display: block;
  }
}
