.welcome {
  width: 60%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-column {
  width: 50%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: calc(3 * var(--index));
}

.logo .nude {
  color: #ffffff; /* Белый цвет для "NUDE" */
}

.logo .hub {
  color: #e79a9a; /* Розовый цвет для "HUB" */
}

.logo-img {
  width: calc(18 * var(--index));
}

.logo .ai {
  font-size: 0.2em;
  vertical-align: 3em; /* Поднятие "AI" выше */
  margin-left: 5px;
  border: 2px solid #ffffff; /* Белая рамка вокруг "AI" */
  border-radius: 50%;
  padding: 5px;
  color: #ffffff; /* Белый цвет для "AI" */
}

.logo .ai .a {
  color: #de7084; /* Цвет для "A" */
}

.logo .ai .i {
  color: #4b9cae; /* Цвет для "I" */
}

.elipse-bg {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elipse-bg::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background: linear-gradient(
    180deg,
    rgba(220, 111, 130, 0.46) 36.55%,
    rgba(75, 156, 174, 0.46) 65.27%
  );
  border-radius: 50%;
  filter: blur(60px);
  z-index: -1;
}

.stars {
  position: relative;
}

.star-1 {
  position: absolute;
  top: calc(4 * var(--index));
  right: calc(12 * var(--index));
  width: calc(2 * var(--index));
}

.star-2 {
  transform: rotate(90deg);
  position: absolute;
  top: calc(12 * var(--index));
  right: calc(12 * var(--index));
  width: calc(1 * var(--index));
}

.star-3 {
  transform: rotate(320deg);
  position: absolute;
  top: calc(3 * var(--index));
  right: calc(20 * var(--index));
  width: calc(1 * var(--index));
}

.star-4 {
  transform: rotate(-20deg);
  position: absolute;
  top: calc(4 * var(--index));
  right: calc(28 * var(--index));
  width: calc(2 * var(--index));
}

.star-5 {
  transform: rotate(90deg);
  position: absolute;
  top: calc(2 * var(--index));
  right: calc(10 * var(--index));
  width: calc(1 * var(--index));
}

.star-6 {
  transform: rotate(90deg);
  position: absolute;
  top: calc(5 * var(--index));
  right: calc(21 * var(--index));
  width: calc(1 * var(--index));
}

.star-7 {
  transform: rotate(90deg);
  position: absolute;
  top: calc(14 * var(--index));
  right: calc(29 * var(--index));
  width: calc(1 * var(--index));
}

.desktop {
  display: none;
}

.mobile {
  display: none;
}

@media (max-width: 64em) {
  .welcome {
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    padding-top: calc(5 * var(--index));
  }

  .logo-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .desktop {
    display: none; /* Скрываем блок на мобильной версии */
  }

  .mobile {
    display: flex; /* Отображаем блок на мобильной версии */
  }

  .exmpl {
    width: 100%;
    align-items: center;
  }
}
