/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  margin: 0;
  height: 100vh;

  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(180deg, #1b0c0f 0%, #0c191c 100%);

  /* background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(180deg, #1b0c0f 0%, #0c191c 100%); */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */

  overflow-x: hidden !important;
}

:root {
  --index: calc(1vw + 1vh);
}

/* styles.css */
.alert {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 16px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert .close-button {
  float: right;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
}

.red {
  color: #de7084;
}

/* Examples */

.dating-apps-section {
  margin-top: calc(5 * var(--index));
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datings-apps-subtitle {
  margin: 0;
  padding: 0;
  font-size: calc(0.5 * var(--index));
  font-weight: bold;
}

.example-dating-apps-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(0.2 * var(--index));
  margin-top: 2em;
}

.example-dating-app {
  border: 1px solid #cf6578;
  border-radius: 8px;
  padding: calc(0.5 * var(--index)) calc(0.1 * var(--index));
  background-color: #111111;
}

.example-dating-app-photo {
  width: calc(3 * var(--index));
}

.example-blue-logo {
  position: absolute;
  transform: rotate(300deg);
  top: 10%;
  left: 10%;
}

.example-blue-logo-2 {
  position: absolute;
  transform: rotate(10deg);
  bottom: 5%;
  left: 10%;
  width: 5%;
}

.example-blue-logo-3 {
  position: absolute;
  transform: rotate(270deg);
  top: 50%;
  right: 13%;
  width: 2%;
}

.example-pink-logo {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 2%;
}

.example-pink-logo-2 {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 5%;
}

.example-pink-logo-3 {
  position: absolute;
  transform: rotate(310deg);
  bottom: 10%;
  right: 10%;
  width: 5%;
}

.example-pink-star {
  position: absolute;
  width: 2%;
  top: 20%;
  left: 5%;
  transform: rotate(330deg);
}

.example-pink-star-2 {
  position: absolute;
  width: 3%;
  top: 30%;
  right: 5%;
  transform: rotate(330deg);
}

.example-blue-star {
  position: absolute;
  width: 1.5%;
  top: 70%;
  left: 13%;
  transform: rotate(110deg);
}

.example-blue-star-2 {
  position: absolute;
  width: 1.5%;
  top: 70%;
  right: 13%;
  transform: rotate(110deg);
}

.faq-title-box {
  width: 67%;
}

.faq-title {
  font-size: 40px;
  font-weight: bold;
}

.faqs {
  width: 67%;
}

.faq-answer {
  font-size: 20px;
  font-weight: 500;
  color: #bebdbd;
}

@media (max-width: 64em) {
  .desktop {
    display: none !important;
  }

  .example-dating-apps-container {
    gap: 0.5em;
    margin-top: 0;
  }

  .example-dating-app {
    padding: 2px;
  }

  .dating-apps-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 5vh;
  }

  .faq-title-box {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  .faq-title-box {
    margin: 0;
    padding: 0;
  }

  .faq-title {
    font-size: 20px;
  }

  .faqs {
    width: 90%;
  }

  .faq-item-title {
    font-size: 14px;
    font-weight: 900;
  }

  .faq-answer {
    font-size: 14px;
    font-weight: 900;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
