/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(180deg, #1b0c0f 0%, #0c191c 100%);
  background-blend-mode: overlay;
  height: 100vh;
  margin: 0;
}

header {
  width: 100vw;
  height: 76px;
  background: #111111;
  border-bottom: 1px solid #5e5e5e;
  display: flex;
  align-items: center;
}

.header-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
}

.header-box-genders {
  display: flex;
  gap: 2em;
  margin-left: 20px;
}

.header-box-gender {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
}

.header-box-menu {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2em;
}

.header-box-menu-item {
  cursor: pointer;
}

.header-login-button {
  border-radius: 10px;
  background: linear-gradient(#de7184, #bc5567);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 15.88px;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 20px;
  cursor: pointer;
}

/* Общие стили */
section {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.elipse-bg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elipse-bg::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background: linear-gradient(
    180deg,
    rgba(220, 111, 130, 0.46) 36.55%,
    rgba(75, 156, 174, 0.46) 65.27%
  );
  border-radius: 50%;
  filter: blur(30px);
  z-index: -1;
}

.welcome-column {
  width: 70%;
  min-height: 80vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 5em;
}
.logo .nude {
  color: #ffffff; /* Белый цвет для "NUDE" */
}
.logo .hub {
  color: #e79a9a; /* Розовый цвет для "HUB" */
}
.logo .ai {
  font-size: 0.2em;
  vertical-align: 3em; /* Поднятие "AI" выше */
  margin-left: 5px;
  border: 2px solid #ffffff; /* Белая рамка вокруг "AI" */
  border-radius: 50%;
  padding: 5px;
  color: #ffffff; /* Белый цвет для "AI" */
}

.logo .ai .a {
  color: #de7084; /* Цвет для "A" */
}
.logo .ai .i {
  color: #4b9cae; /* Цвет для "I" */
}

.welcome-container-plashka {
  width: 100%;
  display: flex;
  border-radius: 30px;
  border: 1px solid #ffffff;
  background: linear-gradient(to right, #bc5567, #343434, #343434, #4b9cae);
  padding: 20px 80px;
}

.welcome-container-plashka-left-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-around;
}

.welcome-container-plashka-right-box {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.welcome-container-plashka-box-title {
  font-size: 36.83px;
  font-weight: 900;
  color: #ffffff;

  margin: 0;
  padding: 0;
}

.welcome-container-plashka-box-p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.welcome-container-plashka-button {
  border-radius: 10px;
  background: linear-gradient(#de7184, #bc5567);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 15.88px;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 20px;
  cursor: pointer;
  margin-left: 0;
}

/* Стили для звездочек */
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./assets/main/Star 11.svg") repeat;
  animation: moveStars 50s linear infinite;
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/* Стили для свечения */
.glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
