/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(180deg, #1b0c0f 0%, #0c191c 100%);

  /* background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(180deg, #1b0c0f 0%, #0c191c 100%); */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */

  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 76px;
  background: #111111;
  border-bottom: 1px solid #5e5e5e;
  display: flex;
  align-items: center;
}

.header-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
}

.header-box-genders {
  display: flex;
  gap: 2em;
  margin-left: 20px;
}

/* .header-box-gender {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
} */

.header-box-gender {
  position: relative;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.header-box-gender::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: background 0.3s ease;
}

.header-box-gender.active-boy::after {
  background: blue;
}

.header-box-gender.active-girl::after {
  background: pink;
}

nav {
  display: flex;
  align-items: center;
}

.header-box-menu {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2em;
}

.header-box-menu-item {
  cursor: pointer;
}

.header-login-button {
  border-radius: 10px;
  background: linear-gradient(#de7184, #bc5567);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 15.88px;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 20px;
  cursor: pointer;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
}

/* Examples */

.example-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.example-cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.example-card {
  position: relative;
  width: 250px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #de708499;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.example-card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.example-card-divider {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 5px;
  background: #ff4081;
  z-index: 1;
  cursor: ns-resize;
  transform: translateY(-50%);
}

.example-subtitle {
  margin-top: 5em;
  font-size: 14px;
  font-weight: 900;
}

.dating-apps-section {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-dating-apps-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 2em;
}

.example-dating-app {
  border: 1px solid #cf6578;
  border-radius: 8px;
  padding: 10px;
}

.example-blue-logo {
  position: absolute;
  transform: rotate(300deg);
  top: 10%;
  left: 10%;
}

.example-blue-logo-2 {
  position: absolute;
  transform: rotate(10deg);
  bottom: 5%;
  left: 10%;
  width: 5%;
}

.example-blue-logo-3 {
  position: absolute;
  transform: rotate(270deg);
  top: 50%;
  right: 13%;
  width: 2%;
}

.example-pink-logo {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 2%;
}

.example-pink-logo-2 {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 5%;
}

.example-pink-logo-3 {
  position: absolute;
  transform: rotate(310deg);
  bottom: 10%;
  right: 10%;
  width: 5%;
}

.example-pink-star {
  position: absolute;
  width: 2%;
  top: 20%;
  left: 5%;
  transform: rotate(330deg);
}

.example-pink-star-2 {
  position: absolute;
  width: 3%;
  top: 30%;
  right: 5%;
  transform: rotate(330deg);
}

.example-blue-star {
  position: absolute;
  width: 1.5%;
  top: 70%;
  left: 13%;
  transform: rotate(110deg);
}

.example-blue-star-2 {
  position: absolute;
  width: 1.5%;
  top: 70%;
  right: 13%;
  transform: rotate(110deg);
}

.faqs {
  width: 52%;
}

.faq-title {
  font-size: 20px;
  font-weight: 900;
}

.faq-answer {
  font-size: 20px;
  font-weight: 500;
  color: #bebdbd;
}

@media (max-width: 64em) {
  .example-dating-apps-container {
    gap: 0.5em;
    margin-top: 1em;
  }

  .example-dating-app {
    padding: 2px;
  }

  .faqs {
    width: 90%;
  }

  .faq-title {
    font-size: 14px;
    font-weight: 900;
  }

  .faq-answer {
    font-size: 14px;
    font-weight: 900;
  }
}
